.popup-gallery__item{
    position: relative;

    &::after, &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        transition: .8s all ease-in-out;
    }
    &::after{
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: center ;
        opacity: 0;
        background-image: url('../images/logo/ksiezyk-meble-logo-vector.svg');
    }

    &::before{
        background: $brown;
        opacity: .0;
    }
    &:hover{
        &::after{
            opacity: .8;
        }
        &::before{
            opacity: .55;
        }
        img{
        }
        animation-name: brightness-dark;
        animation-duration: 4s;
    }
}

@keyframes brightness-dark{
    0%{
        filter: brightness(100%);
    }
    100%{
        filter: brightness(50%);
    }

}


@keyframes fadeOut {
    from {
        filter: brightness(0%);
    }
    to {
        filter: brightness(100%);
    }
}

@keyframes maxheight{
    0%{
        margin-bottom: 100px;
        max-height: 150px;
    }
    100%{
        margin-bottom: 0;
        max-height: 385px;
    }
}

@keyframes movment {
    0% {
        // transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: $logo-size;
        margin-top: 0px;
    }
    100% {
        margin-top: 50px;
        // transform: translate(-50%, -50%);
        width: calc(#{$logo-size} * 2.5);
        top: 50%;        
        left: calc(100vw - (#{$logo-size} * 2.5) / 2 - 5rem);
    }
}

@keyframes movment-img{
    from{
        width: $logo-size;
    }
    to{
        width: calc(#{$logo-size} * 2.5);
    }
}

@keyframes opacity-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes opacity1-0{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}