//COLORS
$primary: #212529;
$secondary: #ccc;

$brown : #332f29;



//main pading
$main-padding: 10rem;
$header-padding: 50px;
$distance-holder:20px;

// size-logo
$logo-size: 25rem;

//links
$link-color: white;