.main {
    height: 100vh;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background: black;
    
    &::after{
        content: '';
        transition: all 1s ease-in-out;
        display: block;
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: fixed;
        z-index: 2;
        opacity: 0;
        background-image:
        radial-gradient(ellipse at center, 
        rgba(black, 0) 0%,
        rgba(black, 1) 20%,
        rgba(black, 1) 100%),
        url("../../../mebleksiezyk/images/backgrounds/main/shutterstock.jpg");
    }

}
#hover-main{
    content: '';
    width: $logo-size;
    height: $logo-size;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    cursor: pointer;

    &:hover{
        & + .main{
            &::after{
                opacity: 1;
            }
        }
    }
}

.main-background {
    background-image: url("../../../mebleksiezyk/images/backgrounds/main/shutterstock.jpg");
    height: 100vh;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: fadeOut 8s;
    animation-fill-mode: forwards;
    @keyframes fadeOut {
        from {
            filter: brightness(0%);
        }
        to {
            filter: brightness(95%);
        }
    }
}




    .main__logo {
        position: absolute;
        display: block;
        z-index: 10;
        width: $logo-size;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: width 2s;
    }

    .main__logo-after {
        z-index: 90;
        position: absolute;
        animation: movment 5s;
        animation-fill-mode: forwards;
        transform: translate(-50%, -50%);
        transition: width 2s;

        @keyframes movment {
            from {
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                width: $logo-size;
            }

            to {
                transform: translate(-50%, -50%);
                width: calc(#{$logo-size} * 2.5);
                top: 50%;
                left: calc(100vw - (#{$logo-size} * 2.5) / 2 - 50px);
            }
        }
    }


