#secondary{
    display: none;

    .secondary__title{
        margin-left: 20%;
        position: relative;
        padding-top: $header-padding;
        padding-bottom: 50px; 
    }
    .secondary__row{
        display: flex;
        justify-content: center;
    
        .secondary__column-1{
            width: 400px;
            padding-bottom: $distance-holder;
        }
        .secondary__column-2{
            padding-bottom: $distance-holder;
            .secondary__column-2-inside{
                

                &:nth-child(1){
                    border-bottom: 1px solid gray;
                    
                }
                &:nth-child(2){
                    border-bottom: 1px solid gray;
                    padding-top: 40px;
                }
                &:nth-child(3){
                   
                    padding-top: 40px;
                }
                .first:before{
                    content: "";
                    display: block;
                    background: url("../../../mebleksiezyk/images/sections/onas/94073.png") no-repeat;
                    background-size: 50px 50px;
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 0 6px 0 0;
                }
                .second:before{
                    content: "";
                    display: block;
                    background: url("../../../mebleksiezyk/images/sections/onas/63307.png") no-repeat;
                    background-size: 50px 50px;
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 0 6px 0 0;
                }
                .third:before{
                    content: "";
                    display: block;
                    background: url("../../../mebleksiezyk/images/sections/onas/35609.png") no-repeat;
                    background-size: 50px 50px;
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 0 6px 0 0;
                }
                h5{
                    font-size: 20px;
                    
                }
                p{
                    display: flex;
                    justify-content: flext-end;
                    padding:5px;
                    font-size: 15px;
              
                }
         }
        }
        .secondary__column-3{
            padding-bottom:$distance-holder;
            img{ 
                max-width: 400px;
                max-height: 400px;
            }
        }
    }
}