#na-wymiar{
    background-image: linear-gradient(rgba($brown, .6),rgba($brown, .6)),url("../images/backgrounds/main/shutterstock.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    
}

.furnituresSize__content{
    @media (min-width: 576px) and (max-width: 767px) {  
        padding:40px;
    
    }
    .furnituresSize{
        &__content{
            &:last-of-type{
                padding-bottom: 4rem;
        
            }
        }
        &__box{
            position: relative;
            border: 4px solid white;
            
        }
        &__image{
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 29rem;
            overflow: hidden;
            

        }
        &__title{
            position: absolute;
            top: calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

    }
}