
#navbar{
    background: rgba(black, 0);
    transition: .6s all ease-in-out;
    opacity: 1;
    .nav-pills{
        .nav-link{
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            color: white;
            letter-spacing: .2em;
            font-size: 1.6rem;
            &.active{
                background-color: transparent;
                border-bottom-color: white;
                &::after{
                    border-bottom-color: white;
                    top: 0;
                }
            }
            &:after{
                content: '';
                transition: .6s all ease-in-out;
                position: absolute;
                display: block;
                top: .5rem;
                left: 0;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid transparent;
            }
            &:hover{
                color: white;
                &::after{
                    border-bottom-color: white;
                    top: 0;
                }
            }
        }
        .nav-item{
            position: relative;
        }
    }

    .navbar-brand{
        height: 4.5rem;
        overflow: hidden;
        padding: 0 7rem;

        display: flex;
        align-items: flex-end;
        img{
            width: 15.5rem;
        }
    }

    //Navar scroll
    &.scroll-nav{
        background: rgba(black, .6);
        @media (max-width: 991.98px) {
            background: rgba(black, .75);
        }
    }

    @media (max-width: 991.98px) {
        background: rgba(black, .75);
        .container{
            justify-content: center;
            padding-top: 20px;
            .navbar-brand{
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
        .navbar-toggler{
            position: fixed;
            top: 25px;
            right: 25px;
            border: 2px solid white;
            padding: 5px;
            background: white;
                span{
                    width: 2em;
                    height: 2em;
                }
                &[aria-expanded="true"]{
                    span{
                    position: relative;
                    background: none;
                    &::before{
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: 'x';
                        font-size: 3rem;
                        font-weight: 200;
                    }
                }
            }
            &.show{
                span{
                    background: none;
                }
            }
        }
        .nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            .nav-link{
                margin: 10px 0;
                padding-bottom: 10px;
            }
        }
    }
}
