#navbar {

    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 8px 16px 0px 16px;

    @media (min-width: 282px) and (max-width: 768px) {
        background: rgba(90, 89, 89, 0.9);

        ul {
            display: flex;
            align-items: flex-start;

            a {
                transform: scale(.7);
            }
        }

        a {
            height: 50px;

            img {
                position: absolute;
                top: -20px;
                transform: scale(.5);
            }
        }

        @include box-shadow();
    }

    &.scroll-nav {
        height: auto;
        position: fixed;
        background: rgba(90, 89, 89, 0.9);
        padding-right: 16px;

        @media (min-width: 282px) {
            background: rgba(90, 89, 89, 0.9);

            ul {
                display: flex;
                align-items: flex-start;

                a {
                    transform: scale(.7);
                }
            }

            a {
                height: 50px;

                img {
                    position: absolute;
                    top: -20px;
                    transform: scale(.5);
                }
            }

            @include box-shadow();
        }

        ul {
            display: flex;
            align-items: flex-start;

            a {
                height: 50px;

                img {
                    position: absolute;
                    top: -20px;
                    transform: scale(.5);
                }
            }
        }

        @include box-shadow();
    }

    img {
        border-radius: 50%;
        border: 2px solid white;
    }

    li {
        display: inline-block;
        margin: 0 1rem;
        // font-family: $Caveat;
        text-transform: uppercase;
        // color: $maintext;

        &::after {
            content: '';
            position: relative;
            bottom: -5px;
            display: block;
            height: 5px;
            width: 0%;
            margin: auto;
            // background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
            @include transition(.2s);
        }

        &:hover {
            &::after {
                width: 100%;

                @media (min-width: 0px)and (max-width: 991.98px) {
                    width: 0%;
                    background-image: none;
                }
            }
        }

        a {

            font-size: 22px;
            font-weight: 600;

        }
    }
}