#uslugi{
    .service{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &__title{
            margin-bottom: 2rem;
            text-align: center;
            height: 7rem;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }
}