#uslugi{
    .service{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &__title{
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}