html{
	margin-right: 0 !important;
	overflow-y: auto !important;
}

body section,
body main {
    padding-top: calc(#{$main-padding} * 1.5);
	padding-bottom: calc(#{$main-padding} * 1.5);
}

footer#footer{
	padding-top: $main-padding;
	padding-bottom: calc(#{$main-padding} * 0.5)
}
// .body{
// 	max-height: 100vh;
// 	overflow: hidden;

// }

