body section,
body main {
    padding-top: $main-padding;    
	padding-bottom: calc(#{$main-padding} * 2);    
}

footer#footer{
	padding: $main-padding 0;
}
// .body{
// 	max-height: 100vh;
// 	overflow: hidden;

// }

