html{
	margin-right: 0 !important;
	overflow-y: auto !important;
	width: 100vw;
	overflow-x: hidden;
}

body section:not(.main),
body main {
    padding-top: calc(#{$main-padding} * 1.5);
	padding-bottom: calc(#{$main-padding} * 1.5);
}

footer#footer{
	padding-top: $main-padding;
	padding-bottom: calc(#{$main-padding} * 0.5)
}
body.body{
	max-height: 100vh;
	overflow: hidden;

	#navbar{
		opacity: 0;
	}
}