.razor{
    margin-top: -20rem;
    filter: drop-shadow(-1px 6px 30px rgba(50, 50, 0, 0.5));
    // visibility: hidden;
    .razor_shadow{
        
        position: relative;
        top: 0px;
        height: 20rem;
        width: 100%;
        background: white;
        clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
        transform: translateY(50%);
        // animation: fadeOut 8s forwards;
        // animation-fill-mode: forwards;
    //     @keyframes fadeOut {
    //         from {
    //             filter: brightness(50%);
    //         }
    //         to {
    //             filter: brightness(100%);
            // }
    //     }
    }
}

#razor{
    visibility: hidden;
    // animation: fadeOut 8s;
    animation-fill-mode: forwards;
    
    @keyframes fadeOut {
        from {
            filter: brightness(50%);
        }
        to {
            filter: brightness(100%);
        }
    }
}