//FONTS
$font-size-base: 1.125rem;

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Source+Sans+Pro:400,700');

$Caveat: 'Caveat', cursive;
$SourceSansPro: 'Source Sans Pro', sans-serif;

$font-family-sans-serif: $SourceSansPro;

html{
    font-size: 1rem;
}

p{
    line-height: 1.6rem;
    font-family: $SourceSansPro;
}

h1, .h1{
    font-family: $Caveat;
    font-size: 3.8rem;
}
h2, .h2{
    font-family: $Caveat;
    font-size: 3.5rem;
}
h3, .h3{
    font-size: 3rem;
    font-family: $SourceSansPro;
    color: $primary;
}
h4, .h4{
        font-family: $Caveat;
        font-weight: bold;
        font-size: 2rem;
}
h5, .h5{
        font-size: 1.5rem;
}

a{
    color: #000;
    &:hover{
        color: $primary;
        text-decoration: none;
    }
}

.text-primary{
    color: $primary !important;
}

.text-secondary{
    color: $secondary !important;
}