//FONTS
$font-size-base: 1.125rem;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext');
$Roboto: 'Roboto', sans-serif;

$font-family-sans-serif: $Roboto;

html{
    font-size: 1rem;
}

p{
    line-height: 1.6rem;
    font-family: $Roboto;
}

h1, .h1{
    font-family: $Roboto;
    font-size: 45px;
}
h2, .h2{
    font-family: $Roboto;
    font-size: 3.5rem;
}
h3, .h3{
    font-size: 35px;
    font-family: $Roboto;
}
h4, .h4{
        font-family: $Roboto;
        font-weight: bold;
        font-size: 2rem;
}
h5, .h5{
        font-size: 1.5rem;
}

a{
    font-family: $Roboto;
    color: black;
    
    &:hover{
        color: $primary;
        text-decoration: none;
    }
}

.text-primary{
    color: $primary !important;
}

.text-secondary{
    color: $secondary !important;
}